@import '../../root.css';

.editor-box {
    height: 85vh;
    width: calc(100% - 900px);
    background-color: var(--primary-bg);
    position: absolute;
    top: 5vh;
    left: 0px;
    padding: 5px;
}