@import '../../root.css';

.outputbox {
    height: 85vh;
    width: 450px;
    background-color: var(--primary-bg);
    position: absolute;
    top: 5vh;
    right: 450px;
}

.coderender {
    min-height: 300px;
    min-width: 400px;
    max-height: 300px;
    max-width: 400px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    left: 25px;
}

.renderhere {
    height: 300px;
    width: 400px;
}